*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body1
{   
  display: flex;   
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;   
  align-items: center;   
  background-image: url('../image/Norway_lofoten_islands_mountains_4K_HD_Photo_medium.jpg'); 
  background-size: cover;   
  background-repeat: no-repeat; 
} 

.body2 
{   
  display: flex;   
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;   
  align-items: center;   
  background-image: url('../image/Mountains-green-trees-lake-nature-landscape_3840x2160.jpg'); 
  background-size: cover;   
  background-repeat: no-repeat; 
} 
.zone_text
{
  width: 70%;   
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid gray; 
  border-radius: 13px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.585);
}
.formu_box
{
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.barre_box
{
  width: 100%;
  height: 20px;
  margin-bottom: 2px;
}

.bouton_pack
{
display: flex;
width: 100%;
}

.bouton_box
{
  width: 50%;
  background-color: white;
  border: 1px solid gray; 
  border-radius: 5px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.585);
}
.bouton_box:active
{
  color: white;
  background-color: black;

}
.bouton_a_box
{
  text-decoration: none;
  text-align: center;
  width: 50%;
  background-color: white;
  border: 1px solid gray; 
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.585);
}
.bouton_a_box:active
{
  color: white;
  background-color: black;

}
.formu_index
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 1px solid gray; 
  border-radius: 13px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.585);
}

.p1
{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}
.p2
{
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px;
}
#pseudo
{
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 20px;
}